body {
    font-family: monospace;
}

.stopwatch-container {
    width: 100%;
    text-align: center;
}

a {
    color: black;
}

.stopwatch {
    border: 3px solid black;
    width: 320px;
    height: auto;
    background-color: #76E67B;
    margin: auto;
    border-radius: 10px;
    box-shadow: 3px 3px 3px black;
}

.display {
    width: 90%;
    margin: 10px auto;
    background-color: white;
    box-shadow: 2px 2px 2px inset;
    border-radius: 10px;
}

#time-display {
    display: block;
    font-size: 1.5em;
}

#curr-lap-display {
    font-size: 2.5em;
}

/* BUTTONS */

.buttons-container {
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 0px solid black;
    width: 90%;
    margin: 10px auto;
}

.button {
    display: inline-block;
    width: 60px;
    height: 40px;
    margin: 10px 3px;
    border-radius: 5px;
    background-color: #deffdc;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    border-radius: 4px;
    border: 1px solid #000000;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px;
}

.button-text {
    cursor: pointer;
}

/* LAPS */

#lap-times-display {
    box-shadow: 2px 2px 2px inset;
    width: 50%;
    margin: 10px auto;
    padding: 10px 0px;
    background-color: white;
    max-height: 100px;
    overflow-y: auto;
    border-radius: 10px;
}

.laps-title {
    
}



